.sabor-card{
    background-image: url('assets/mango con chamoy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
